* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none; 
}

body {
    background-color: white;
    color: black;
    font-family: "Fira Sans", sans-serif;
    background-color: white;
}

.menuIcon {
    width: 18.96px;
    height: 12.57px;
    margin:10px;
}

.cmpLogo {
    width: 170.96px;
    height: 40.57px;
}

.suLogo {
    width: 40.96px;
    height: 40.57px;
}

nav {
    width: 100%;
    padding: 0px 20px 0px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #3B4154;
    border-bottom: solid 1px #888FAA;
}

.third {
    margin-top: 15px;
    display: flex;
    gap: 10px
}

.menuLogo {
    margin-top: 6px;
    /* margin-bottom: 12px; */

}

.first {
    margin-top: 10px;
    display: flex;
    gap: 15px
}

.second {
    height: 58px;
    width: 400px;
    display: flex;
    gap: 10px;
    background-color: #666F8F;
}

.inputBox {
    padding: 0 210px 0 10px;
    background: rgba(255, 255, 255, 0.0);
    border-style: none;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

input:focus {
    outline: none;
}


.searchIcon {
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}

.userName {
    margin-top: 5px;
    color: white;
    font-weight: 200;
}

.bellIcon {
    margin-top: 5px;
    color: white;
}

.profileIcon {
    height: 30px;
    width: 30px;
}

.innerDiv {
    display: flex;
    gap: 10px
}

.side-menu {
    position: fixed;
    top: 10;
    z-index: 1;
    left: -25%;
    width: 18%;
    height: 100%;
    background-color: #3B4154;
    transition: left 0.3s ease;
    /* padding-left: 2px; */
    padding-top: 24px;
    font-size: 18px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom:5em;
}
/* 
.side-menu div {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
} */

.rawtext {
    font-weight: 200;
    color: white;
}

.submenu-item {
    display: none;
    /* padding-left: 20px; */
    font-weight: 200;
    width: 100%;
}



.submenu-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: 200;
}

.submenu-op {
    display: flex;
    justify-content: space-between;
}

.ch1 {
    display: flex;
    justify-items: center;
    text-align: center;
}

i {
    margin-right: 10px;
    /* padding-bottom:2px; */
}

.green-background {
    background-color: #00B2A1;
}

.divp {
    padding: 10px 10px;
}

.sideText {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 33px;
    padding-top:10px;
    padding-bottom:10px;
}

.headerBg {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.bottomLine {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
}

.container {
    position: relative;
}

.welcomeText {
    position: absolute;
    top: 40%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.parentRow {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.cardRow {
    flex: 9;
    display: flex;
    justify-content: space-around;
}

.emptySpace {
    flex: 2;
}

.singleCard {
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 2px;
    border: 1px;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.subtitle {
    font-size: 10px;
    font-weight: 400;
}

.righticon {
    display: inline-block;
    width: 20px;
    height: 20px;

    /* opacity:0; */



}

.downicon {
    display: none;
    width: 20px;
    height: 20px;
}

.c1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}